
<!-- Titlebar
================================================== -->
<script src="../../../assets/scripts/custom.js"></script>
<script src="../../../assets/scripts/tooltips.min.js"></script>
<script src="../../../assets/scripts/jquery-ui.min.js"></script>
<script src="../../../assets/scripts/counterup.min.js"></script>
<script src="../../../assets/scripts/waypoints.min.js"></script>
<script src="../../../assets/scripts/magnific-popup.min.js"></script>
<script src="../../../assets/scripts/slick.min.js"></script>
<script src="../../../assets/scripts/rangeslider.min.js"></script>
<script src="../../../assets/scripts/chosen.min.js"></script>
<script src="../../../assets/scripts/mmenu.min.js"></script>
<script src="../../../assets/scripts/jquery-3.5.1.min.js"></script>
<script src="../../../assets/scripts/jquery-migrate-3.3.1.min.js"></script>
<link rel="stylesheet" href="../../../assets/css/main-color.css" id="colors">
<link rel="stylesheet" href="../../../assets/css/style.css">
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Booking Processed</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>Booking Processed</li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="booking-confirmation-page">
        <i class="fa fa-check-circle"></i>
        <h2 class="margin-top-30">Thanks for your booking!</h2>
        <p>You'll receive a confirmation email</p>
        <a href="dashboard-invoice.html" class="button margin-top-30">View Invoice</a>
      </div>

    </div>
  </div>
</div>
<!-- Container / End -->
