<app-header></app-header>
<app-banner></app-banner>
<!-- Content
================================================== -->
<div class="row">

  <div class="col-md-12">
    <h3 class="headline centered margin-top-75">
      Browse Vehicles
    </h3>
  </div>

</div>
<!-- Category Boxes -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="categories-boxes-container margin-top-5 margin-bottom-30">

        <!-- Box -->
        <a href="listings-list-with-sidebar.html" class="category-small-box">
          <i class="fa fa-bicycle"></i>
          <h4>Bicycle</h4>
          <span class="category-box-counter">12</span>
        </a>

        <!-- Box -->
        <a href="listings-list-with-sidebar.html" class="category-small-box">
          <i class="im im-icon-Bike-Helmet"></i>
          <h4>Motorbike</h4>
          <span class="category-box-counter">11</span>
        </a>
        <!-- Box -->
        <a href="listings-list-with-sidebar.html" class="category-small-box">
          <i class="im  im-icon-Car-2"></i>
          <h4>4-Seater Car</h4>
          <span class="category-box-counter">32</span>
        </a>

        <!-- Box -->
        <a href="listings-list-with-sidebar.html" class="category-small-box">
          <i class="im im-icon-Car"></i>
          <h4>7-Seater Car</h4>
          <span class="category-box-counter">15</span>
        </a>

        <!-- Box -->
        <a href="listings-list-with-sidebar.html" class="category-small-box">
          <i class="im im-icon-Car-3"></i>
          <h4>Limousine</h4>
          <span class="category-box-counter">21</span>
        </a>

        <!-- Box -->
        <a href="listings-list-with-sidebar.html" class="category-small-box">
          <i class="im im-icon-Yacht"></i>
          <h4>Yacht</h4>
          <span class="category-box-counter">28</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Category Boxes / End -->
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          Most Rented Vehicles
          <span>Discover top-rated local vehicles</span>
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="assets/images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">AVAILABLE</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>White Peugeot</h3>
            <span>60 Hai Ba Trung street, Hanoi</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="assets/images/listing-item-02.jpg" alt="">
          <div class="listing-badge now-open">EXCLUSIVE</div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Tower</h3>
            <span>123 Bach Dang street, Hanoi</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="assets/images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $5 per day</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>X-Game</h3>
            <span>86 Lang Ha street, Hanoi</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="assets/images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">AVAILABLE</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Black White Tower</h3>
            <span>87 Ba Trieu Street, Hanoi</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="assets/images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>SMAFO</h3>
            <span>99 Hue Street, Hanoi</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="assets/images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">NOT AVAILABLE</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Next Bike</h3>
            <span>23 Phan Dinh Phung, Hanoi</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>
<!-- Fullwidth Section / End -->
<app-footer></app-footer>
