<!-- Sign In Popup -->
<div id="sign-in-dialog" class="zoom-anim-dialog">

  <div class="small-dialog-header">
    <h3 style="color: black">Sign In</h3>
  </div>

  <!--Tabs -->
  <div class="sign-in-form style-1">

    <ul class="tabs-nav">
    </ul>

    <div class="tabs-container alt">

      <!-- Login -->
      <div class="tab-content" id="tab1">
        <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">

          <p class="form-row form-row-wide">
            <label for="username">Username:
              <i class="im im-icon-Male"></i>
              <input [formControlName]="'username'" required autofocus type="text" class="input-text" name="username" id="username" value="" />
            </label>
          </p>

          <p class="form-row form-row-wide">
            <label for="password">Password:
              <i class="im im-icon-Lock-2"></i>
              <input [formControlName]="'password'" required autofocus class="input-text" type="password" name="password" id="password"/>
            </label>
            <span class="lost_password">
										<a href="#" >Lost Your Password?</a>
									</span>
          </p>

          <div class="form-row">
            <input type="submit" class="button border margin-top-5" name="login" value="Login" />
            <div class="checkboxes margin-top-10">
              <input id="remember-me" type="checkbox" name="check">
              <label for="remember-me">Remember Me</label>
            </div>
          </div>

        </form>
      </div>

  </div>
  </div>
</div>
<!-- Sign In Popup / End -->
