<app-dashboard-menu></app-dashboard-menu>
<div class="dashboard-content">

  <!-- Titlebar -->
  <div id="titlebar">
    <div class="row">
      <div class="col-md-12">
        <h2>My Listings</h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li>My Listings</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Listings -->
    <div class="col-lg-12 col-md-12">
      <div class="dashboard-list-box margin-top-0">
        <h4>Active Listings</h4>
        <ul>

          <li *ngFor="let vehicle of vehicles">
            <div class="list-box-listing">
              <div class="list-box-listing-img"><a href="#"><img [src]="vehicle.cover" alt=""></a></div>
              <div class="list-box-listing-content">
                <div class="inner">
                  <h3><a href="#">{{vehicle.brand}}</a></h3>
                  <span>{{vehicle.license}}</span><br>
                  <span>{{vehicle.location.name}}</span>
                  <div class="star-rating" data-rating="3.5">
                    <div class="rating-counter">(12 reviews)</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons-to-right">
              <a href="#" class="button gray"><i class="sl sl-icon-note"></i> Edit</a>
              <a href="javascript:;" class="button gray" (click)="deleteConfirm(vehicle.id)"><i class="sl sl-icon-close"></i> Delete</a>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <!-- Copyrights -->
    <div class="col-md-12">
      <p> Copyright by <a href="https://crackall.net/">CrackAll</a>. All rights reserved.
    </div>
  </div>

</div>
