<!-- Banner
================================================== -->
<div class="main-search-container dark-overlay">
  <div class="main-search-inner">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Find Nearby Attractions</h2>
          <h4>Expolore top-rated attractions, activities and more</h4>

          <div class="main-search-input">

            <div class="main-search-input-item">
              <input type="text" placeholder="What are you looking for?" value=""/>
            </div>

            <div class="main-search-input-item location">
              <div id="autocomplete-container">
                <input id="autocomplete-input" type="text" placeholder="Location">
              </div>
              <a href="#"><i class="fa fa-map-marker"></i></a>
            </div>

            <div class="main-search-input-item">
              <select data-placeholder="All Categories" class="chosen-select" >
                <option>All Categories</option>
                <option>Shops</option>
                <option>Hotels</option>
                <option>Restaurants</option>
                <option>Fitness</option>
                <option>Events</option>
              </select>
            </div>

            <button class="button" onclick="window.location.href='listings-half-screen-map-list.html'">Search</button>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Video -->
  <div class="video-container">
    <video poster="assets/images/main-search-video-poster.jpg" loop autoplay muted>
      <source src="assets/images/main-search-video.mp4" type="video/mp4">
    </video>
  </div>

</div>
