<script src="../../../assets/scripts/tooltips.min.js"></script>
<script src="../../../assets/scripts/custom.js"></script>
<script src="../../../assets/scripts/jquery-ui.min.js"></script>
<script src="../../../assets/scripts/counterup.min.js"></script>
<script src="../../../assets/scripts/waypoints.min.js"></script>
<script src="../../../assets/scripts/magnific-popup.min.js"></script>
<script src="../../../assets/scripts/rangeslider.min.js"></script>
<script src="../../../assets/scripts/slick.min.js"></script>
<script src="../../../assets/scripts/chosen.min.js"></script>
<script src="../../../assets/scripts/mmenu.min.js"></script>
<script src="../../../assets/scripts/jquery-migrate-3.3.1.min.js"></script>
<script src="../../../assets/scripts/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="../../../assets/css/main-color.css" id="colors">
<link rel="stylesheet" href="../../../assets/css/style.css">
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Booking</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>Booking</li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
  <div class="row">

    <!-- Content
    ================================================== -->
    <div class="col-lg-8 col-md-8 padding-right-30">

      <h3 class="margin-top-0 margin-bottom-30">Personal Details</h3>

      <div class="row">

        <div class="col-md-6">
          <label>First Name</label>
          <input type="text" value="">
        </div>

        <div class="col-md-6">
          <label>Last Name</label>
          <input type="text" value="">
        </div>

        <div class="col-md-6">
          <div class="input-with-icon medium-icons">
            <label>E-Mail Address</label>
            <input type="text" value="">
            <i class="im im-icon-Mail"></i>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-with-icon medium-icons">
            <label>Phone</label>
            <input type="text" value="">
            <i class="im im-icon-Phone-2"></i>
          </div>
        </div>

      </div>


      <h3 class="margin-top-55 margin-bottom-30">Payment Method</h3>

      <!-- Payment Methods Accordion -->
      <div class="payment">

        <div class="payment-tab payment-tab-active">
          <div class="payment-tab-trigger">
            <input checked id="paypal" name="cardType" type="radio" value="paypal">
            <label for="paypal">PayPal</label>
            <img class="payment-logo paypal" src="assets/images/ApBxkXU.png" alt="">
          </div>

          <div class="payment-tab-content">
            <p>You will be redirected to PayPal to complete payment.</p>
          </div>
        </div>


        <div class="payment-tab">
          <div class="payment-tab-trigger">
            <input type="radio" name="cardType" id="creditCart" value="creditCard">
            <label for="creditCart">Credit / Debit Card</label>
            <img class="payment-logo" src="assets/images/IHEKLgm.png" alt="">
          </div>

          <div class="payment-tab-content">
            <div class="row">

              <div class="col-md-6">
                <div class="card-label">
                  <label for="nameOnCard">Name on Card</label>
                  <input id="nameOnCard" name="nameOnCard" required type="text">
                </div>
              </div>

              <div class="col-md-6">
                <div class="card-label">
                  <label for="cardNumber">Card Number</label>
                  <input id="cardNumber" name="cardNumber" placeholder="1234  5678  9876  5432" required type="text">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card-label">
                  <label for="expirynDate">Expiry Month</label>
                  <input id="expiryDate" placeholder="MM" required type="text">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card-label">
                  <label for="expiryDate">Expiry Year</label>
                  <input id="expirynDate" placeholder="YY" required type="text">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card-label">
                  <label for="cvv">CVV</label>
                  <input id="cvv" required type="text">
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- Payment Methods Accordion / End -->

      <a (click)="checkOut()" class="button booking-confirmation-btn margin-top-40 margin-bottom-65">Confirm and Pay</a>
    </div>


    <!-- Sidebar
    ================================================== -->
    <div class="col-lg-4 col-md-4 margin-top-0 margin-bottom-60">

      <!-- Booking Summary -->
      <div class="listing-item-container compact order-summary-widget">
        <div class="listing-item">
          <img [src]="vehicleToCheckout.cover" alt="">

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>{{vehicleToCheckout.description}}</h3>
            <span>{{vehicleToCheckout.location.name}}</span>
          </div>
        </div>
      </div>

      <div class="boxed-widget opening-hours summary margin-top-0">
        <h3><i class="fa fa-calendar-check-o"></i> Booking Summary</h3>
        <ul>
          <li>Length of Rental <span>{{lengthOfRental}}</span></li>
          <li>Price per day <span>{{vehicleToCheckout.price}}</span></li>
          <li class="total-costs">Total Cost <span>{{lengthOfRental * vehicleToCheckout.price}}</span></li>
        </ul>

      </div>
      <!-- Booking Summary / End -->

    </div>

  </div>
</div>
<!-- Container / End -->
